html {
				background-color: #f5f5dc;
}

a {
				font-family: Lucide Sans Unicode, sans-serif;
				font-size: 2em;
				text-decoration: none
}	
a:hover {
    text-decoration: none
}

#flat{

	background: transparent;
    color:#949494;
    

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}
#flat2{

	background: none;
	color:transparent !important;
	text-shadow:none !important;
	border:none !important;
	box-shadow:none !important;
	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}